<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Carbon.Data.Protection" version="0.20.0" targetFramework="net461" />
  <package id="Carbon.Json" version="1.9.0" targetFramework="net461" />
  <package id="Carbon.Packaging" version="1.29.1" targetFramework="net461" />
  <package id="Carbon.Storage" version="1.17.0" targetFramework="net461" />
  <package id="Carbon.VersionControl" version="1.9.0" targetFramework="net461" />
  <package id="Carbon.Versioning" version="1.5.0" targetFramework="net461" />
  <package id="GitHub" version="1.13.2" targetFramework="net461" />
  <package id="Json.Net" version="1.0.16" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.Win32.SystemEvents" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.Windows.Compatibility" version="2.0.1" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack.Core" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack.Shell" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="RedditSharp" version="1.1.14" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.CodeDom" version="4.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.Odbc" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.5.0" targetFramework="net461" />
  <package id="System.Diagnostics.EventLog" version="4.5.0" targetFramework="net461" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.5.0" targetFramework="net461" />
  <package id="System.DirectoryServices" version="4.5.0" targetFramework="net461" />
  <package id="System.DirectoryServices.AccountManagement" version="4.5.0" targetFramework="net461" />
  <package id="System.DirectoryServices.Protocols" version="5.0.1" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.5.0" targetFramework="net461" />
  <package id="System.IO.Pipes.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.IO.Ports" version="4.5.0" targetFramework="net461" />
  <package id="System.Management" version="4.5.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.2" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Cng" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Pkcs" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Xml" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net461" />
  <package id="System.ServiceModel.Duplex" version="4.4.1" targetFramework="net461" />
  <package id="System.ServiceModel.Http" version="4.4.1" targetFramework="net461" />
  <package id="System.ServiceModel.NetTcp" version="4.4.1" targetFramework="net461" />
  <package id="System.ServiceModel.Primitives" version="4.4.1" targetFramework="net461" />
  <package id="System.ServiceModel.Security" version="4.4.1" targetFramework="net461" />
  <package id="System.ServiceModel.Syndication" version="4.5.0" targetFramework="net461" />
  <package id="System.ServiceProcess.ServiceController" version="4.5.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net461" />
  <package id="System.Threading.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="TopShelf.ServiceInstaller" version="4.2.0" targetFramework="net461" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net461" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net461" />
  <package id="WindowsAPICodePack-ExtendedLinguisticServices" version="1.1.1" targetFramework="net461" />
  <package id="WindowsAPICodePackMainFile" version="1.1.0" targetFramework="net461" />
  <package id="WindowsAPICodePack-Sensors" version="1.1.1" targetFramework="net461" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net461" />
  <package id="WindowsAPICodePack-ShellExtensions" version="1.1.1" targetFramework="net461" />
</packages>